{% extends 'index.html' %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}

{% block extra_head %}

<style>
  /* Carousel base class */
  .carousel {
    background: #605e5e;
    margin-bottom: 0px;
    margin-top: 80px;
  }
  .carousel .container {
    position: relative;
    z-index: 9;
  }
  .carousel-control {
    background-color: transparent;
    border: 0;
    font-size: 8em;
    height: 60px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    z-index: 10;
  }
    .carousel .item {
      height: 350px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 350px;
      min-width: 100%;
      overflow: hidden;
    }

    .carousel-caption {
      background: none;
      position: static;
      padding: 0;
      margin-top: 80px;
      width: 800px;
    }
    .carousel-caption h1 {
      background: rgba(42, 147, 252, 0.4);
      color: #fff;
      font-size: 3em;
      font-weight: 400;
      margin: 0;
      padding: 20px;
      text-shadow: 2px 2px 2px rgba(0,0,0,.4);
    }
    .carousel-caption .lead {
      color: #fff;
      font-weight: 600;
      line-height: 1.125em;
      padding: 20px;
      text-shadow: 2px 2px 2px rgba(0,0,0,.4);
    }

    </style>
{% endblock %}

{% block jumbotron %}
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ STATIC_URL }}img/layerslider01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to the <strong>WFP</strong>GeoNode</h1>
              <p class="lead">Our corporate web application for creating and sharing geospatial data and maps designed for non-GIS experts.</p>
              <a class="btn" href="/help/">Get Started</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/layerslider02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Interactive mapping</h1>
              <p class="lead">You can combine already existing layers with your own data to create powerful interactive maps accessible from all devices.</p>
              <a class="btn" href="/maps/">Explore Maps</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/layerslider03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>GIS data standardization</h1>
              <p class="lead">GeoNode facilitates data standardization within our organization  by providing a clear process  for uploading your gis data, compiling metadata and styling. You can then share them publicly or restrict to specific users only.</p>
              <a class="btn" href="/upload/">Upload Layers</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->

    <section class="social">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="span8">
              <div class="row">
                <div class="span2"><p><a href="/layers/">Layers <span class="count">{{ facets.layers }}</span></a></p></div>
                <div class="span2"><p><a href="/maps/">Maps <span class="count">{{ facets.maps }}</span></a></p></div>
                <div class="span2"><p><a href="/documents/">Documents <span class="count">{{ facets.documents }}</span></a></p></div>
                <div class="span2"><p><a href="/people/">Users <span class="count">{{ facets.users }}</span></a></p></div>
              </div>
            </div>
            <div class="span4">
              <form class="input-append pull-right" action="{% url "search" %}" method="GET">
              {# csrf_token #}
              <input id="search" placeholder="Search..." type="text" name="q"/>
            </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block hero %}
{% endblock %}

{% block mainbody %}
<!-- featured maps -->
<section class="featured-maps">
  <h3>{% trans "Recent Maps" %}</h3>
  <div class="row">
    {% for map in featured_maps %}
    <div class="span3">
      <div class="map-thumb">
        <div class="first">
          <a href="#" class="map-link"><img src="{{ MEDIA_URL }}{{ map.thumbnail.thumb_file.name }}" /></a>
        </div>
        <a href="{% url "map_detail" map.id %}" class="map-link"><div class="second">
          <p>{% trans "from" %} <strong>{{ map.owner }}</strong>, <em class="timestamp">{{ map.last_modified|date:"d M Y" }}</em></p>        
          <p>{{ map.abstract|truncatewords:"30" }}</p>
        </div><a href="{% url "map_detail" map.id %}" class="map-link">
      </div>
      <h5><a href="{% url "map_detail" map.id %}" class="map-link">{{ map.title }}<a href="{% url "map_detail" map.id %}" class="map-link"></h5>
    </div>
    {% endfor %}
  </div>
</section>

<section class="boxes">
<div class="row">
  <div class="span4">
    <a href="/layers/" class="div-link">
      <div class="row">
        <div class="span1">
          <i class="icon-unchecked icon-rotate-45 icon-4x"></i>
        </div>
        <div class="span3">
          <h3>Explore Data</h3>
          <p>Click to search for geospatial data from our corporate SDI or published by other users, organizations and public sources.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="span4">
    <a href="/maps/" class="div-link">
      <div class="row">
        <div class="span1" style="text-align:center"><i class="icon-map-marker icon-4x"></i></div>
        <div class="span3">
          <h3>Explore Maps</h3>
          <p>Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="span4">
    <a href="/upload/" class="div-link">
    <div class="row">
      <div class="span1"><i class="icon-cloud-upload icon-4x"></i></div>
        <div class="span3">
          <h3>Upload Data</h3>
          <p>GeoNode allows registered users fo easiley upload geospatial data in several formats including shapefile, GeoTiff and KML.</p>
        </div>
      </div>
    </a>
  </div>
</div>
</section>
{% endblock %}
