{% extends "site_base.html" %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% block title %} {% trans "Announcements" %} - {{ block.super }} {% endblock %}

{% block body_class %}maps{% endblock %}

{% block body_outer %}

{% block body %}
<div class="span6">
  <h2 class="page-title">{% trans "Announcements" %}</h2>
</div>
<div class="span6 action-group pull-right">
  <a href="{% url "announcements_create" %}" class="btn btn-primary pull-right strong">{% trans "New Announcement" %}</a>
</div>
<div class="span12">
  <div class="row" id="contain-slider">
    <div class="tab-content span12 paginate paginate-auto" id="search-content">
      <table class="table">
        <thead>
          <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Announcement" %}</th>
            <th>{% trans "Published From" %}</th>
          </tr>
        </thead>
        {% for announcement in announcement_list %}
        <tbody>
          <tr>
            <td>
              <a href="{% url "announcements_update" pk=announcement.pk %}">{{ announcement.title|truncatewords:50  }}</a>
            </td>
            <td>
              {{ announcement.content|truncatewords:8 }}
            </td>
            <td>
              {% if announcement.publish_start or announcement.publish_end %}
              Published from {{ announcement.publish_start|date:"F j, Y" }} to
              {{ announcement.publish_end|date:"F j, Y"|default:"(no end date)" }}.
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% endblock %}
